:root {
  --paper: hsl(0deg 0% 95%);
  --ink: hsl(0deg 0% 5%);
  --link: hsl(210deg 70% 30%);

  background-color: var(--paper);
  color: var(--ink);
  scroll-snap-type: y mandatory;
}

@media (prefers-color-scheme: dark) {
  :root {
    --paper: hsl(0deg 0% 5%);
    --ink: hsl(0deg 0% 95%);
    --link: hsl(210deg 70% 70%);
  }
}
