---
title: Introduction to Container Queries
description: Building better responsive components based on their actual context rather than guessing based on the viewport.
tags: presentations
---

{% extends 'layout.njk' %}

{% block favicon %}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>📦</text></svg>">
{% endblock %}

{% block content %}
{% for slide in collections["introduction-to-container-queries"] | sortByOrder %}
<div class="cmp-slide">
  {{ slide.content | safe }}
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
<script>
  const loadPens = () => {
    window.__CPEmbed?.('.codepen-later');
  };

  const listenForPermissionToLoadPens = () => {
    document.querySelectorAll('.grant-codepen-consent').forEach((button) => {
      button.addEventListener('click', () => {
        localStorage.setItem('cp-functional-cookie-consent', 'granted');
        loadPens();
      });
    });
  }

  const checkCodepenConsent = () => {
    const consent = localStorage.getItem('cp-functional-cookie-consent');
    if (consent === 'granted') {
      loadPens();
      return;
    }

    listenForPermissionToLoadPens();
  };

  checkCodepenConsent();
</script>
{% endblock %}
