---
title: Introduction to Git
description: Managing code for a better tomorrow.
tags: presentations
---

{% extends 'layout.njk' %}

{% block favicon %}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🐙</text></svg>">
{% endblock %}

{% block content %}
{% for slide in collections["introduction-to-git"] | sortByOrder %}
<div class="cmp-slide">
  {{ slide.content | safe }}
</div>
{% endfor %}
{% endblock %}
