---
permalink: /styles.css
eleventyExcludeFromCollections: true
---
{% include 'css/generic.reset.css' %}
{% include 'css/element.root.css' %}
{% include 'css/element.a.css' %}
{% include 'css/element.code.css' %}
{% include 'css/element.figure.css' %}
{% include 'css/element.headings.css' %}
{% include 'css/element.lists.css' %}
{% include 'css/element.p.css' %}
{% include 'css/element.pre.css' %}
{% include 'css/component.slide.css' %}
{% include 'css/utility.visually-hidden.css' %}
