<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block titleAndDescription %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% endblock %}

    {% block favicon %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🧑‍💻</text></svg>">
    {% endblock %}

    <link rel="apple-touch-icon" href="/maskable_icon.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#f2f2f2" media="(prefers-color-scheme: light)">

    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    {% block header %}{% endblock %}
    <main id="main-content">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% block footer %}{% endblock %}

    <!-- global scripts, should render on every page -->
    <script>
      const preTags = document.querySelectorAll('pre');
      if (preTags.length) {
        preTags.forEach((element) => {
          element.setAttribute('tabindex', 0);
        });
      }
    </script>

    <!-- page-specific scripts, should be set within the page template -->
    {% block scripts %}{% endblock %}

    <script type="module">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>